<main role="main">

  <div class="section-1">
    <div class="container">
      <div class="ourMessageContainer col-md-6">
        <h2>Quick - Curated - Healthy</h2>
        <p>Your time is valuable, that's why we aim to bring
         you a special selection of healthy food quickly.</p>
        <a href="/catalogue/show" class="btn btn-primary explore">Explore Now</a>
      </div>
      <div class="signInContainer col-md-6">
        <form class="form-signin" role="form">
          <h2 class="form-signin-heading">Sign Up Now</h2>
          <input type="email" class="form-control" placeholder="Email address" required autofocus>
          <input type="password" class="form-control" placeholder="Password" required>
          <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          <button class="btn btn-lg btn-primary signup-btn" type="submit">Sign up</button>
          <button class="btn btn-lg btn-primary login-btn" type="submit">Log in</button>
        </form>
      </div>
    </div>

  </div>

  <div class="section-2">
    <div class="container">
      <div class="mid-container col-md-8 col-md-offset-2">
        <div class="slogan">
          <h1>Enjoy your meal <span>time</span></h1>
        </div>
        <div class="col-md-4">
          <div class="delivery-estimate">
            <p>Guarantee delivery by <br /><span><%= @deliver_time%></span></p>
          </div>
        </div>
        <div class="deliveryMessageContainer col-md-8">
          <h2>We promise to deliver to your doorstep within 45 minutes of ordering</h2>
          <button class="btn btn-primary order">Order Now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="section-3">
    <div class="container marketing">
      <h1 class="todays-recommendations">Today's Recommendations</h1>
      <div class="row recommendation-container">

        <% @foods.each do |food, item| %>
          <div class="recommendation col-lg-4">
            <h1><%= food.upcase %></h1>
            <div class="mask">
              <%= link_to image_tag(item.photo_path), url_for({controller:'food_item', action: 'show', id:item.id}), {class: "food-thumbnail"} %>
            </div>
            <h2><%= link_to item.name, url_for({controller: 'food_item', action: 'show', id: item.id}) %></h2>
            <p><%= item.restaurant_name%></p>
            <p><%= number_to_currency item.price %></p>
            <%= link_to "Place Order", url_for({controller: 'food_item', action: 'show', id:item.id}), {class: "btn btn-default recommendations-btn"} %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</main>
